/* ① サイト全体のルール
   ↓
② ページごとの性格
   ↓
③ セクションの役割
   ↓
④ 要素の見た目 */

/* ①ページ全体→②ページ単体→③各セクション→④1要素　
この順番でやっていく ①は自分が作っているサイトの大まかな見易さ、
ルール的なものを作っていく作業 ②はこのページ特有の見易さ、
ルール的なもの ③はここから細かな微調整 ④は主にデザイン、
より強調したい場所 */
